In [63]:
import plotly.offline as py
import plotly.graph_objs as go
import plotly.figure_factory as ff
import pandas as pd

In [64]:
# See https://github.com/catherinedevlin/ipython-sql for how to SQL
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [65]:
%config SqlMagic.autopandas = False
py.init_notebook_mode(connected=True)

In [66]:
%sql mysql+pymysql://pawelsz:oosezaki@localhost/mcp?charset=utf8

u'Connected: pawelsz@mcp'

In [67]:
%%sql 
CREATE TEMPORARY TABLE IF NOT EXISTS fish_surveys AS (
SELECT survey_key, species, site, depth_range, season, SUM(biomass_kg) biomass_kg
FROM (
  SELECT
    CONCAT(date, survey_id, observer1) survey_key,
    s.species species,
    f.site site,
    f.depth_range depth_range,
    f.season season,
    0.0 as biomass_kg
  FROM fish f CROSS JOIN (select species from fish group by species) s
  GROUP BY survey_key,species,site,depth_range,season
  UNION ALL
  SELECT
    CONCAT(date, survey_id, observer1) survey_key,
    species,
    site,
    depth_range,
    season,
    SUM(biomass_kg*depth_replicas) biomass_kg
  FROM fish
  GROUP BY survey_key,species,site,depth_range,season) f
GROUP BY survey_key,species,site,depth_range,season)

(pymysql.err.OperationalError) (2013, 'Lost connection to MySQL server during query ([Errno 54] Connection reset by peer)') [SQL: u'CREATE TEMPORARY TABLE IF NOT EXISTS fish_surveys AS (\nSELECT survey_key, species, site, depth_range, season, SUM(biomass_kg) biomass_kg\nFROM (\n  SELECT\n    CONCAT(date, survey_id, observer1) survey_key,\n    s.species species,\n    f.site site,\n    f.depth_range depth_range,\n    f.season season,\n    0.0 as biomass_kg\n  FROM fish f CROSS JOIN (select species from fish group by species) s\n  GROUP BY survey_key,species,site,depth_range,season\n  UNION ALL\n  SELECT\n    CONCAT(date, survey_id, observer1) survey_key,\n    species,\n    site,\n    depth_range,\n    season,\n    SUM(biomass_kg*depth_replicas) biomass_kg\n  FROM fish\n  GROUP BY survey_key,species,site,depth_range,season) f\nGROUP BY survey_key,species,site,depth_range,season)'] (Background on this error at: http://sqlalche.me/e/e3q8)

In [68]:
%%sql
CREATE TEMPORARY TABLE IF NOT EXISTS fish_surveys_no_species AS (
  SELECT survey_key, site, depth_range, season, SUM(biomass_kg) biomass_kg
  FROM fish_surveys
  GROUP BY survey_key, site, depth_range, season)

297 rows affected.

[]

In [85]:
# DEBUG ONE SITE
#data = %sql SELECT * FROM fish_surveys_no_species WHERE site='Turtle Heaven' ORDER BY survey_key
#data.DataFrame()

In [86]:
%%sql
SELECT
  season, site,
  SUM(biomass_kg) biomass_sum,  # Sum across depths
  SQRT(SUM(biomass_ci_sq)) biomass_ci  # This assumes biomasses at different depths are independent. Not true! Need something smarter with correlations.
FROM (
  SELECT
  season, site, depth_range,
  COUNT(*) num_surveys,
  AVG(biomass_kg) biomass_kg,
  STDDEV_SAMP(biomass_kg) biomass_stddev,
  1.96*STDDEV_SAMP(biomass_kg)/SQRT(COUNT(*)) biomass_ci,
  1.96*1.96*VAR_SAMP(biomass_kg)/COUNT(*) biomass_ci_sq
  FROM fish_surveys_no_species GROUP BY season,site,depth_range HAVING biomass_kg > 0) biomass_per_depth
GROUP BY season, site ORDER BY season, site DESC

24 rows affected.

[(u'Aug-Oct', u'Unity Point', 17.066000002087094, 15.87963969753996),
 (u'Aug-Oct', u'Turtle Heaven', 62.02450078187394, 64.87093357830778),
 (u'Aug-Oct', u'Masaplod', 139.1780012191739, 54.5170292287003),
 (u'Aug-Oct', u'Malatapay', 40.48799963609781, 23.649974392176762),
 (u'Aug-Oct', u'Lutoban South', 28.714999761781655, 10.099839060900202),
 (u'Aug-Oct', u'Lutoban Pier', 29.26200049230829, 13.159742834793184),
 (u'Aug-Oct', u'Kookoos', 15.038000141154043, 3.855116844143542),
 (u'Aug-Oct', u'Guinsuan', 24.594999841763638, 17.48075158037847),
 (u'Aug-Oct', u'Dauin', 81.86899992229883, 20.896206175832933),
 (u'Aug-Oct', u'Andulay', 33.091000074055046, 9.631594942350059),
 (u'Feb-Apr', u'Dauin', 54.9565005498589, 11.77206484592239),
 (u'Feb-Apr', u'Andulay', 37.123999909032136, None),
 (u'Nov-Jan', u'Unity Point', 12.816999989445321, 5.735858507030951),
 (u'Nov-Jan', u'Turtle Heaven', 28.595999978017062, 25.5529366025494),
 (u'Nov-Jan', u'Masaplod', 100.00900070008356, 58.99667924173644),
 (u'Nov-Jan', u'Malatapay', 36.904999870224856, 9.176392167356816),
 (u'Nov-Jan', u'Lutoban South', 15.385000119102187, 5.762003224713193),
 (u'Nov-Jan', u'Lutoban Pier', 20.909999958705157, 9.28820548369768),
 (u'Nov-Jan', u'Kookoos', 22.638000150793232, 22.962082143366434),
 (u'Nov-Jan', u'Guinsuan', 25.812999894842505, 13.450478677154),
 (u'Nov-Jan', u'Dauin', 42.15600002545398, 11.576294398970088),
 (u'Nov-Jan', u'Basak', 54.011999982292764, 23.172077744813656),
 (u'Nov-Jan', u'Antulang', 24.07000014919322, 10.150698667706799),
 (u'Nov-Jan', u'Andulay', 37.76099982019514, 21.525805344468974)]

In [87]:
biomass_per_site = _.DataFrame()  # Assign data from the previous SQL query as pandas DataFrame

In [88]:
biomass_per_site = biomass_per_site.sort_values(['biomass_sum'], ascending=[False])
season1 = go.Bar(x=biomass_per_site[biomass_per_site['season'] == "Aug-Oct"].site,
                 y=biomass_per_site[biomass_per_site['season'] == "Aug-Oct"].biomass_sum,
                 error_y=dict(
                   type='data',
                   array=biomass_per_site[biomass_per_site['season'] == "Aug-Oct"].biomass_ci,
                   visible=True
                 ),
                 name='Aug-Oct')
season2 = go.Bar(x=biomass_per_site[biomass_per_site['season'] == "Nov-Jan"].site,
                 y=biomass_per_site[biomass_per_site['season'] == "Nov-Jan"].biomass_sum,
                 error_y=dict(
                   type='data',
                   array=biomass_per_site[biomass_per_site['season'] == "Nov-Jan"].biomass_ci,
                   visible=True
                 ),
                 name='Nov-Jan')
layout = go.Layout(title="Biomass per Site",
                xaxis=dict(title='Site'),
                yaxis=dict(title='Average biomass per survey [kg]'))
fig = go.Figure(data=[season1, season2], layout=layout)
py.iplot(fig, show_link=False)
# Use py.plot(..., image='png', filename=...) to export an image.